body {
  background-color: #52796f;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
h1 {
  margin: 30px;

  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #daca88;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 0.5s ease-in-out; /* Anpassa tiden för blinkningen här */
}
